.container {
  display: inline-block;
}

.checkbox {
  display: none;
}

.label {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.label--top {
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: center;
}

.castom {
  width: 1rem;
  height: 1rem;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.castom svg {
  opacity: 0;
}

.label--top .castom {
  margin-right: 0;
  margin-top: 0.5rem;
}

.checkbox:checked + .label .castom  {
  background-color: #D9D9D9;
}

.checkbox:checked + .label .castom svg {
  opacity: 1;
}