.container {
  display: inline-block;
}

.checkbox {
  display: none;
}

.label {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.label--top {
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: center;
}

.castom {
  width: 16px;
  height: 16px;
  border: 1px solid var(--checkbox-color);
  border-radius: 4px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.castom svg {
  opacity: 0;
}

.label--top .castom {
  margin-right: 0;
  margin-top: 8px;
}

.checkbox:checked + .label .castom  {
  background-color: var(--checkbox-color);
}

.checkbox:checked + .label .castom svg {
  opacity: 1;
}