.option {
  display: flex;
  align-items: center;
}

.idx {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;
  margin-right: 8px;

  border: 1px solid var(--font-color);
  border-radius: 50%;

  font-size: 13px;
  line-height: 14px;
}

.dragIcon {
  margin-left: auto;
}
