.radibox-label input {
  display: none;
}
.radibox-label {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
}
.radibox-label::before {
  content: "";
  height: 16px;
  width: 16px;
  border: 1px solid var(--radio-color);
  border-radius: 50%;
}
.radibox-label:has(input:checked)::before {
  height: 10px;
  width: 10px;
  background-color: var(--radio-color);
  border: 1px solid var(--radio-color);
  padding: 3px;
  background-clip: content-box;
}