/* Обычный */
@font-face {
  font-family: 'Golos';
  src: url(./lib/fonts/GolosText-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Golos';
  src: url(./lib/fonts/GolosText-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Golos';
  src: url(./lib/fonts/GolosText-SemiBold.ttf);
  font-weight: 600;
}


@font-face {
  font-family: 'Golos';
  src: url(./lib/fonts/GolosText-Bold.ttf);
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;

  list-style: none;
  text-decoration: none;

  box-sizing: border-box;
}

:root {
  --font-color: #d9d9d9;
  --bg-color: #1c1a1e;
  --error-color: #d42020;
  --radio-color: #d9d9d9;
  --input-bg: #ffffff1a;
  --input-bg-focus: #ffffff40;
  --input-text-color: #ffffffbf;
  --checkbox-color: #d9d9d9;
  --button-color: #ffffff;
  --button-text-main: #1c1a1e;
  --button-small: #d9d9d9;
  --cgwi-color: #d9d9d9;


  font-family: 'Golos', sans-serif;
  letter-spacing: -0.5px;
  line-height: 14px;
  color: var(--font-color);
}

h2 {
  font-weight: 700;
  font-size: 14px;
}

h3 {
  font-weight: 700;
  font-size: 12px;
}

h4 {
  font-weight: 500;
  font-size: 12px;
}

p {
  font-weight: 400;
  font-size: 12px;
}