/* Обычный */
@font-face {
  font-family: 'Golos';
  src: url(./lib/fonts/GolosText-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Golos';
  src: url(./lib/fonts/GolosText-Bold.ttf);
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;

  list-style: none;
  text-decoration: none;

  box-sizing: border-box;
}

:root {
  --font-color: #d9d9d9;
  --bg-color: #1c1a1e;
  --error-color: #d42020;
  --radio-color: #d9d9d9;
  --input-bg: #ffffff1a;
  --input-bg-focus: #ffffff40;
  --input-text-color: #ffffffbf;

  font-family: 'Golos', sans-serif;
  color: var(--font-color);
}
